{$DOMINIO_API} {
	encode gzip zstd

	handle /healthz {
		rewrite * /actuator/health
		reverse_proxy api:8080
	}

	handle {
		@actuator path /actuator/*
		respond @actuator 404
		reverse_proxy api:8080
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}
